<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="CLUK-NuGet" value="https://pkgs.dev.azure.com/cndlfntdkngdm/_packaging/CLUK-NuGet/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<CLUK-NuGet>
			<add key="Username" value="az-password-is-pat-token" />
			
			<!--
				You will need to generate a pat token either locally or as part of your pipeline and supply to docker
				using a "build-arg" of Nuget_CustomFeedPassword=<pat_token> (there are various ways to store it, for security I set as an environment variable and pass in $env:Nuget_CustomFeedPassword)
			-->
			<add key="ClearTextPassword" value="%Nuget_CustomFeedPassword%" />
		</CLUK-NuGet>
	</packageSourceCredentials>
</configuration>